<h2>Room</h2>
<div *ngIf="room">
  Name: {{ room.name }} <br>
  <div id="yt-player"></div>
  <br>
  <label>Youtube id <input name="youtubeId" [(ngModel)]="youtubeId"></label> <button (click)="onAddVideoClick()" type="submit">Add</button>
  <label>Youtube playlist id <input name="youtubeId" [(ngModel)]="youtubePlaylistId"></label> <button (click)="onImportYoutubePlaylistClick()" type="submit">Import</button>
  <br>
  <div *ngFor="let video of room.videos">
    <a href="javascript:void(0)" (click)="playVideoClick(video)">Play</a> {{ video.youtubeId }} - {{ video.title }} <button (click)="onDeleteVideoClick(video)">Remove</button>
  </div>
  <h3>Users in the room</h3>
  <ul>
    <li *ngFor="let user of users">{{ user.firstName }} {{ user.lastName }}</li>
  </ul>
  <h3>Messages</h3>
  <ul>
    <li *ngFor="let message of messages">{{ message.sentBy }}: {{ message.message }}</li>
  </ul>
  <form (ngSubmit)="onSendMessageSumbit()">
    <label>Message <input name="message" [(ngModel)]="message"></label> <button type="submit">Send message</button>
  </form>
</div>
<div *ngIf="!room">
  Loading...
</div>
